{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "printWidth": 100,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "quoteProps": "consistent",
  "requirePragma": false,
  "insertPragma": false
}